<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/webIcon.png"
            alt="site icon" style="width:42px;height:42px;">Simco Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        Profit Calculator
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link"
                    href="/VIPlanner">Vertical Integration Planer</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://docs.google.com/spreadsheets/d/1NbFsBVmZz35Hvm4jTCVbzz04dpjJcWdlPvOPVndLJKA/edit?usp=sharing">Community Spreadsheets</a></li>
                <!-- <li class="nav-item"><a class="nav-link"
                    href="#!">Support Me</a></li> -->
                <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://www.simcompanies.com/company/Bohring%20Chemical%20Supplier/">Creator</a></li>
            </ul>
        </div>
    </div>
</nav>
